*{
  font-family: 'Quattrocento', serif;
}

.navLinks{
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items:center;
  /* width: 1600px; */
  padding-bottom: 20px;
}

.navList{
  padding: 12px;
}

.navLink{
  color: black;
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.logo{
  width: 250px;
  /* position: absolute;
  left:0;
  top:0; */
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}

/* LANDING COMPONENT  */

.landingPagePhoto{
  margin-top: 40px;
  height: 420px;
  width: 1050px;
  border-radius: 24px;
}

.headerDescription{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerCaption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.shopCaption{
  font-size: 35px;
}

.shopButtonTag{
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.shopButton{
  display: flex;
  justify-content: center;
  width: 128px;
  height: 32px;
  background-color: white;
  border-radius: 12px;
  align-items: center;
  font-size: 20px;

}

/* FEATURED */

#features{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}


.featuredSectionTitle{
  padding-top: 320px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 32px;
}

a{
  text-decoration: none;
}

.dogAccessories{
  display: flex;
  justify-content: center;
  width: 1050px;
}

.dogAccesorieImage{
  padding-top: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 24px;
}

.dogAccesorie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dogAccesorieTitleLink{
  color: black;
  font-size: 20px;
}




